body{
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-image:url("../images/luckycards.jpg");
    background-repeat: no-repeat;
    background-size: 100% 40%;
    margin-bottom: 10rem;

}
#navbar {
    overflow: hidden;
    background-color: #D4B10A;
    height: 40px;
    padding: 40px 10px; 
    transition: 0.4s; 
    position: fixed; 
    width: 100%;
    top: 0; 
    z-index: 99;
  }
  
    #navbar a {
    float: left;
    color: #C00000;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    line-height: 10px;
    border-radius: 4px;
  }
  
   #logo {
    position: relative; 
    bottom: 50px;
  }
  
  #navbar a:hover {
    background-color: #C00000;
    color: black;
  }
  
  #navbar-right {
    float:right;
  }
  
  @media screen and (max-width: 580px) {
    #navbar {
      padding: 20px 10px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
    }
    #navbar a {
      float: none;
      display: block;
      text-align: left;
    }
    #navbar-right {
      float: none;
    }
  }

.logo-img{
   height:70px;
   margin-right: 100%;
}
.heder1{  
   position:relative;
   top:200px;
   text-align: center;
   color:#C00000;
   font-weight: bold;
   font-size: 100px;
}

HTML{
    scroll-behavior: smooth;
}

.card{
    display:inline-block;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
    width: 30rem;
    border: 3px solid #118A1C;
    margin:600px 10px 500px 10px;

}
.card-side{
    height: 40rem;
    transition:all .8s ease;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    backface-visibility:hidden;
}
.img{
    height: 40rem;
    width: 30rem;
}
.card-side-back{
    background-color: #D4B10A;
    transform: rotateY(180deg);

}

.card:hover .card-side-front{
    transform: rotateY(180deg);
}

.card:hover .card-side-back{
    transform: rotateY(0);
 }

.btn-primary{
  position: relative;
  top: 290px;
  left: 137px;
  font-size: 40px;
  color: black; 
  font-weight: bold;
  background-color: #0C6814;
  border-color:#08460D ;
}

.btn-primary:hover{
  color: black;
  background-color:#08460D ;
}

.btn-secondary{
  position: relative;
  top:300px;
  left: 550px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  background-color: #0C6814;
}
.btn-secondary:hover{
  color: black;
  background-color:#08460D ;
}
.allcards
{
  position: relative;
  text-align: center;
  top:600px;
  font-size: 50px;
  font-weight: bold;
  color: #C00000;
  margin: 50px 0 60px 0;
}
hr{
  position: relative;
  left:36%;
  border-style: none;
  border-top: 1px dotted #C00000;
  width:30%;
  border-width:5px;
  background-color: white;

}